{% extends 'core/base.html' %}
{% load static %}
    
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/notfound.css' %}">
{% endblock extracss %}

    
{% block title %}
        Add Project
{% endblock title %}  




{% block bodycontent %}

<h1><a class="nav-link heading_write" href="{% url 'home' %}">Back to Home?</a></h1>
<div class=" div_main div_register">
    <div >
        <div>
            <h1 class="h1">Add Project</h1>
        </div>
        <div >        
                
            <form class="form_register" action="" method="POST">
             
                {% csrf_token %}

                <div>

                    <label class="form-control-label mt-3"><b>Username:</b></label>
                    
                    <input type="text" class="form-control" name="customer_name" placeholder="Customer name" required>

                    <label class="form-control-label mt-3"><b>Email:</b></label>

                    <input type="email" class="form-control" name="email" placeholder="xyz@gmail.com" required>
        
                    <label class="form-control-label mt-3"><b>phone:</b></label>

                    <input type="number" class="form-control" name="phone" placeholder="01******" required>

                    <label class="form-control-label mt-3"><b>Confirm:</b></label>

                    <input type="text" class="form-control" name="organization" placeholder="********" required>
 
        
                    <button class="btn btn-primary mt-3 submit">Add</button>
                    <input type="reset" class="btn btn-warning mt-3" value="Reset">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock bodycontent %}
    

{% block extrajs %}
<script>
    $(document).ready(function () {
      window.history.replaceState('', '', window.location.href);
    });
  </script>
{% endblock extrajs %}
    