{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    projects
{% endblock title %} 

{% block homeactive %}
{% endblock homeactive %}
    
{% block bodycontent %}



<div class="container mt-4 fw-bolder">
    <div class="card">
        <div class="card-header bg-primary">
            <h5 class="text-center text-white"><b>Do you really want to delete?</b></h5>
        </div>
        <div class="card-body  bg-warning">
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-sm btn-success" href="{% url 'task' 5 %}">Cancel</a>
            <input value="Delete" type="submit" class="btn btn-sm btn-danger"/>
        </form>
        </div>
    </div>
</div>


<script>
</script>


{% endblock bodycontent %}

    
{% block extrajs %}
{% endblock extrajs %}
    