{% extends 'core/base.html' %}
{% load static %}
    

    
{% block title %}
    home
{% endblock title %} 

    
{% block homeactive %}
{% endblock homeactive %}

    
{% block bodycontent %}

<br>
  <div class="row">

    {% for project in projects  %}
      <div class="col-md-4">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{project.project_name}}</h5>
            <p class="card-text">Client: {{project.customer.customer_name}}</p>
            <p class="card-text">Deadline: {{project.end_date}} to {{project.start_date}}</p>
            <p class="card-text">Progress: 90%</p>
            <button class="btn btn-primary">View</button>
      </div>
    </div>
   </div>
    {% endfor %}
    

{% endblock bodycontent %}



{% block extrajs %}
{% endblock extrajs %}
    
