{% extends 'core/base.html' %}
{% load static %}

{% block extracss %}

{% endblock extracss %}


{% block title %}
location
{% endblock title %}


{% block locationactive %}
 active
{% endblock locationactive %}


{% block bodycontent %}


<div class="container mt-4 fw-bolde bg-dark">
    <div class="card"> 
        <div class="card-header"> 
            <div class="card heading_write bg-secondary">
                <h1 class="mt-3 text-center text-white ">Looking for location? </h1><br><br><br>
            
            <h4  class="text-center">
                <a href="https://www.google.com/maps/dir/23.7509958,90.3465982/zay+corporation/@23.7571242,90.3446997,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3755bfa18fb0fd21:0x86719f18857ac147!2m2!1d90.3536662!2d23.7621898" 
                target="_blank" class="text-center text-dark bg-warning border border-dark rounded-lg mx-auto p-2"> Office Location? Click here!</a>
            </h4>
            
            </div>

        </div>


    </div>
</div>




{% endblock bodycontent %}


{% block extrajs %}
{% endblock extrajs %}