{% extends 'core/base.html' %}
{% load static %}
    
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/notfound.css' %}">
{% endblock extracss %}

    
{% block title %}
    projects
{% endblock title %} 

    
{% block homeactive %}
{% endblock homeactive %}

    
{% block bodycontent %}



<div class="card div_main div_register ">
    <h1 class="">&nbsp;&nbsp;&nbsp;
          <a href="{% url 'add-task' 5%}" class="bnt btn-sm btn-success" >Add Task</a>
    </h1><br>
    <div class="card-body text-dark">   
      <div class="alert alert-primary" role="alert">
          Project Name: {{ project.project_name}}
       </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Developer</th>
                <th scope="col">Client</th>
                <th scope="col">Priority</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% if tasks %}

              {% for task in tasks  %}
              <tr>
                <td>{{ task.task_name }} </td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td> 
                  {% for i in task.developer.all %}
                    {{ i }},    
                  {% endfor %}
                </td>
                <td>{{ task.project.customer }}</td>
                <td>{{ task.priority }}</td>
                <td>
                  <a class="btn btn-sm btn-success" href="{% url 'update-task' task.id %}">Update</a>
                  <a class="btn btn-sm btn-danger" href="{% url 'delete-task' task.id %}">Delete</a>
                </td>

              </tr>
              {% endfor %}
                
              {% else %}
            </tbody>
        <h2 class="warning">No Task</h2>
        {% endif %}
    </div>
</div>



{% endblock bodycontent %}

    
{% block extrajs %}
{% endblock extrajs %}