{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    projects
{% endblock title %} 

{% block homeactive %}
{% endblock homeactive %}
    
{% block bodycontent %}


<form method="POST">
    {% csrf_token %}
  <div class="form-row">
    
    <div hidden class="form-group col-md-6">
      <label for="inputPassword4">Project Name</label>
      <input hidden name="project" type="text" class="form-control" id="inputPassword4" value="{{project.id}}" placeholder="{{project.project_name}}">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="start_date">Start Time</label>
    <input onchange="startDateOnChange()" name="start_date" type="datetime-local" class="form-control" id="start_date">
    </div>
   
    <div class="form-group col-md-4">
      <label for="end_hour">Total Hour To Complete Task</label>
    <input onchange="startDateOnChange()" name="end_hour" type="number" value="0" class="form-control" id="end_hour">
    </div>

     <div class="form-group col-md-4">
      <label for="end_date">End Time</label>
    <input disabled name="end_date" type="datetime-local" class="form-control" value="" id="end_date">
    </div>

  </div>

 <div class="form-row">
  
    <div class="form-group col-md-4">
      <label for="inputState">Developer</label>
     <select onclick="onClickDev()" name="developer" multiple id="developer" class="form-control">
          {% for developer in developers  %}
             <option value="{{developer.id}}">{{developer.devoloper_name}}  </option>
          {% endfor %}

      </select>
      <div id="devlist">

     </div>
    </div>

   

     <div class="form-group col-md-4">
      <label for="inputState">Priority</label>
      <select name="priority" id="inputState" class="form-control">
        <option disabled selected>Choose...</option>
            {% for priority in prioritys %}
             <option value="{{priority.id}}">{{priority.priority}}</option>
            {% endfor %}
    
      </select>
    </div>
  </div>

  <input type="submit" class="btn btn-primary"/>
</form>


<script>



  


</script>


{% endblock bodycontent %}

    
{% block extrajs %}
{% endblock extrajs %}
    