{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    projects
{% endblock title %} 

{% block homeactive %}
{% endblock homeactive %}
    
{% block bodycontent %}


<form method="POST">
    {% csrf_token %}

  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="start_date">Start Time</label>
    <input onchange="startDateOnChange()" value="{{start_date}}" name="start_date" type="datetime-local" class="form-control" id="start_date">
    </div>
   
    <div class="form-group col-md-4">
      <label for="end_hour">Actual Hour To Complete Task</label>
    <input onkeyup="startDateOnChange()" name="end_hour" type="number" value="0" class="form-control" id="end_hour">
    </div>

     <div class="form-group col-md-4">
      <label for="end_date">End Time</label>
    <input  name="end_date" type="datetime-local" class="form-control" value="" id="end_date">
    </div>

  </div>

  <input type="submit" class="btn btn-primary"/>
</form>


<script>
function offset(iso ){

         var tzoffset = iso.getTimezoneOffset() * 60000; //offset in milliseconds
         var localISOTime = (new Date(iso - tzoffset)).toISOString().slice(0, -1);
        return localISOTime  
    }
    
    function startDateOnChange(){

        let end = parseInt(document.getElementById('end_hour').value)
        let startDate = document.getElementById('start_date').value
        let endtDate = document.getElementById('end_date')
        let iso = new Date(startDate ) //start date convert into isostring

         Date.prototype.addHours= function(h){
                this.setHours(this.getHours()+h);
                return this;
        }

        let addHour = new Date(offset(iso)).addHours(end)

        let addHourConvert = offset(addHour)
          endtDate.value = addHourConvert
             console.log('a', startDate);
            console.log(addHourConvert)
                    
     }


</script>


{% endblock bodycontent %}

    
{% block extrajs %}
{% endblock extrajs %}
    